{% extends 'base.html' %}
{% block title%} Create a post {% endblock %}
{% block content%}


{% if user.is_authenticated %}

<h1>Add post...</h1>
<br /><br />
<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media}}
    {{ form.as_p }}
    <button class="btn btn-info">Post</button>
  </form>
</div>

<script>
  var name = "{{ user.id }}";
  document.getElementById("elder").value = name;


</script>
{% else %}

You are not allowed here!(and you know it)

{% endif %}

{% endblock %}